<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Spotify Popularity Analyzer</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>

<!-- Welcome Screen -->
<div id="welcome-screen">
  <h1>Spotify Popularity Analyzer</h1>
  <button id="start-button">Start</button>
</div>

<!-- Fixed Menu Bar -->
<div id="menu-bar" class="invisible">
  <img src="/static/favicon.ico" alt="Logo" id="logo-link" onclick="goToMain()" />

  <div class="search-wrapper">
    <input type="text" id="artist-input-top" placeholder="Enter artist name..." />
    <button id="search-button-top">Search</button>
    <ul id="dropdown-results" class="dropdown hidden"></ul>
  </div>

  <!-- Обернули ссылки в отдельный контейнер -->
  <div class="menu-links-container">
    <span class="menu-link" onclick="showRawData()">Raw Data</span>
    <span class="menu-link" onclick="showSettings()">Settings</span>
    <span class="menu-link" onclick="window.open('https://extreme-vocal-techniques-db.onrender.com', '_blank')"><i>EMVT Database</i></span>
  </div>
</div>


<!-- App Interface -->
<div id="app-interface" class="invisible">

  <div class="main-container">
    <!-- Left Panel -->
    <div class="left-panel">
      <!-- Artist Image Block -->
      <div class="panel-block" id="artist-image-container">
        <div class="panel-title">Artist's Image</div>
        <!-- Image will be inserted here -->
      </div>

      <!-- Discography Block -->
      <div class="panel-block">
        <div class="panel-title">Discography</div>
        <ul id="album-list" class="panel-content"></ul>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
      <div class="chart-block">
        <h3>Album Popularity</h3>
        <div id="album-chart"></div>
      </div>

      <div class="chart-block">
        <h3>Tracks</h3>
        <div id="track-chart"></div>
      </div>
    </div>
  </div>

  <div id="loader">Loading discography, please hold on...</div>
</div>

<!-- Raw Data Screen -->
<div id="raw-data-screen" class="invisible screen">
  <div class="panel-block raw-data-block">
    <div class="panel-title">Raw Data Viewer</div>
    <pre id="raw-data-text"></pre>
  </div>
</div>

<!-- Settings Screen -->
<div id="settings-screen" class="invisible screen">
  <div class="panel-block settings-block">
    <!-- Settings Content -->
    <div class="settings-content">
      <h3>To Look For</h3>
      <label><input type="checkbox" class="look-for" value="album" checked> Album</label>
      <label><input type="checkbox" class="look-for" value="single" checked> Single</label>
      <label><input type="checkbox" class="look-for" value="compilation" checked> Compilation</label>
      <hr>
      <h3>To Filter Out</h3>
      <label>
        <input type="checkbox" id="select-all-filters"> Select All
      </label>
      <div class="filter-options">
        <label><input type="checkbox" class="filter-key" value="demo"> Demo</label>
        <label><input type="checkbox" class="filter-key" value="live"> Live</label>
        <label><input type="checkbox" class="filter-key" value="remastered"> Remastered</label>
        <label><input type="checkbox" class="filter-key" value="edition"> Edition</label>
        <label><input type="checkbox" class="filter-key" value="deluxe"> Deluxe</label>
        <label><input type="checkbox" class="filter-key" value="reissue"> Reissue</label>
        <label><input type="checkbox" class="filter-key" value="remix"> Remix</label>
        <label><input type="checkbox" class="filter-key" value="edit"> Edit</label>
        <label><input type="checkbox" class="filter-key" value="feat"> Feat</label>
        <label><input type="checkbox" class="filter-key" value="instrumental"> Instrumental</label>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer-container">© 2025 Alexey Voronin</div>
</footer>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
